.home_background {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background: rgba(0, 0, 0, .55) url(../image/home_backgroung.jpg);
    background-blend-mode: darken;
    background-size: auto;
    display: grid;
    grid-template: 60px 600px auto / 30px auto 30px;

    height: 650px;
    width: 100vw;
}

.welcome_container {
    color: #fff;
    font-size: 25px;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_frame {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template: 400px 200px 10px / 1fr;
    row-gap: 20px;
}    

.image_container {
    background-color: #fff;
    grid-column: 1 / -1;
    grid-row: 1;
    border: solid 1px;
    display: grid;
    grid-template: auto / 88vw;
    justify-content: center;
    align-items: center;
}
