.home_background {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background: rgba(0, 0, 0, .55) url(../image/home_backgroung.jpg);
    background-blend-mode: darken;
    background-size: cover;
    display: grid;
    grid-template: 100% auto / 5% auto 5%;
    row-gap: 30px;
    height: 750px;
}

.welcome_container {
    color: #fff;
    font-size: 25px;
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome p {
    font-size: 100px;
}

.about {
    grid-column: 2;
    grid-row: 2;
    font-size: 80px;
    margin: 0;
}

.about p {
    font-size: 20px;
}

.about_container {
    grid-column: 2;
    grid-row: 3;
}

.image_container {
    background-color: #00000055; 
    grid-column: 1 / -1;
    grid-row: 4;
    display: grid;
    grid-template: auto / 100vw;
    align-items: center;
}

.introduce_container {
    grid-column: 2;
    grid-row: 5;
}

.info_container {
    grid-column: 2;
    grid-row: 6;
}
